
/*
======================================================
; File:    restaurantStyles.css - External CSS Sheet
; Author:  Michelle Nesbitt
; Course:  Software Guild's Intro to Web Development
; Desc:    Code Assessment: Restaurant Site Part 2
; Created: 20 September 2020
; Revised: 26 September 2020
; Notes:   Fonts based on Base: 1em | Ratio: 1.25
;          From site www.modularscale.com
;=====================================================
*/


body {
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
    font-size: 0.8em; 
}
header, footer {
    margin-left: auto;
    margin-right:auto; 
    width: 1000px;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4.768em;
}
nav {
    text-align: left;
}
nav a {      
      padding: 10px;           
}


/* begin styles from the home page */

.desc-first-line {
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em; /* 1.25 modularscale.com*/
    margin-bottom:0px;     
}

.fourth{
    width: 400px;
}

.firstlastcol {
    width: 300px;
}

.ithird td{               
    background-color:darkslategrey;
    padding: 10px;        
}

.ithird table {
    width: 1000px; 
    display: block;
    margin-left: auto;
    margin-right: auto;                
}

.ithird tr {
    vertical-align: top;
}
